body {
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-image: url(assets/barcopirata.jpg);
    background-size: 100% 100%;
    font-family: 'MedievalSharp', cursive;;
}
h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#mensagemDeVitoria {
    font-size: 4rem;
    color: wheat;
}
#game {
    display: flex;
    justify-content: space-around;
}
#game-board-container {
 
    width     : 400px;
    height    : 380px;
    background-image: url(assets/madeira.jpg);
    background-size: cover;
    display: inline-block;
}
.name {
    font-size: 2rem;
    margin-bottom: 15px;
}
.numplacar {
    font-size: 2rem;
}
#restart {
    font-family: 'MedievalSharp', cursive;
    font-size: 1.3rem;
    display: block;
    margin:  auto;
    margin-top: 10px;
    width: 20%;
    height: 45px;
    background-image: url(assets/madeiraclara2.jpeg);
    border: none;
    box-shadow: 5px 10px rgba(15, 15, 10, 0.5);

}
.placar {
    width: 20%;
    height: 150px;
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    background-color:  rgba(15, 15, 10, 0.3);
}

#board-columns-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : 0 auto;
    width          : 350px;
    height         : 310px;
    /* background     : aquamarine; */
}

.board-column {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 50px;
    height        : 310px;
    margin        : 0 .5px;
    
}



.container-disco {
    width        : 40px;
    height       : 40px;
    margin       : 0 auto;
    margin-top   : 10px;
    border-radius: 50%;
    background-color: rgba(15, 15, 10, 0.6);
}
#fundo {
    width: fit-content;
    height: fit-content;
    background-image: url(assets/madeiraclara2.jpeg);

    margin: 0 auto;
}

#cloud-disco-container {
    display         : flex;
    width           : 350px;
    height          : 50px;
    align-items     : center;
    justify-content : space-around;
    background-image: url(assets/madeiraclara2.jpeg);
    margin          : 0 auto;
}

.cloud-disco {
    width        : 40px;
    height       : 40px;
    margin       : 0 auto;
    border-radius: 50%;
    /* background   : aquamarine; */

}

.jogador1 .cloud-disco:hover {
    background: black;
}

.jogador2 .cloud-disco:hover {
    background: red;
}

.preto:hover {
    background-image: url(assets/joiaazul.png);
    background-size: cover;
}

.vermelho:hover {
    background-image: url(assets/joiavermelha.png);
    background-size: cover;
}


.jogador1 {
    width        : 40px;
    height       : 40px;
    margin       : 0 auto;
    border-radius: 50%;
    background-image: url(assets/joiaazul.png);
    background-size: cover;
}

.jogador2 {
    width        : 40px;
    height       : 40px;
    margin       : 0 auto;
    border-radius: 50%;
    background-image: url(assets/joiavermelha.png);
    background-size: cover;
}

#peçafixa {
    height          : 40px;
    width           : 40px;
    background-color: black;
    border-radius   : 50%;
}

.popup {
    position: fixed;
    top: -200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 46%;
    padding: 15px;
    border: solid 2px black;
    background-image: url(assets/madeiraclara.jpg);
    display: none;
    z-index: 1;
}

#reset {
    font-family: 'MedievalSharp', cursive;
    font-size: 1.3rem;
    width: 100px;
    height: 35px;
    margin-top: 40px;
    background-image: url(assets/madeiraclara2.jpeg);
    border: none;
    box-shadow: 5px 10px rgba(15, 15, 10, 0.5);
}

#placarPlayer2 {
    background-color:  rgba(255, 0, 0, 0.3);
}

#placarPlayer1 {
    background-color: rgba(12, 59, 214, 0.3);
}

#mute{
    margin-top: 30px;
    align-self: left;
}