body {
    text-align: center;
    box-sizing: border-box;
}

#game-board-container {
    margin    : 0 auto;
    width     : 400px;
    height    : 380px;
    background: tomato;
}

#board-columns-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : 0 auto;
    width          : 350px;
    height         : 310px;
    background     : aquamarine;
}

.board-column {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 50px;
    height        : 310px;
    margin        : 0 .5px;
    background    : violet;
}

.board-column:hover {
    background-color: blueviolet;
    cursor          : pointer;
}

.container-disco {
    width        : 40px;
    height       : 40px;
    margin       : 0 auto;
    margin-top   : 10px;
    border-radius: 50%;
    background   : white;
}

#cloud-disco-container {
    display         : flex;
    width           : 350px;
    height          : 50px;
    align-items     : center;
    justify-content : space-around;
    background-color: aquamarine;
    margin          : 0 auto;
}

.cloud-disco {
    width        : 40px;
    height       : 40px;
    margin       : 0 auto;
    border-radius: 50%;
    background   : aquamarine;
}

.jogador1 .cloud-disco:hover {
    background: black;
}

.jogador2 .cloud-disco:hover {
    background: red;
    background: white;
}

.preto:hover {
    background: black;
}

.vermelho:hover {
    background-color: red;
}


.jogador1 {
    width        : 40px;
    height       : 40px;
    margin       : 0 auto;
    border-radius: 50%;
    background   : black;
}

.jogador2 {
    width        : 40px;
    height       : 40px;
    margin       : 0 auto;
    border-radius: 50%;
    background   : red;
}

#peçafixa {
    height          : 40px;
    width           : 40px;
    background-color: black;
    border-radius   : 50%;
}